{% extends "base.html" %}

{% block main %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-four-thirds">
        <div class="nhsuk-table-responsive">
          <h2>Services online</h2>
          <table class="nhsuk-table" cellspacing="0" cellpadding="1">
            <caption class="nhsuk-table__caption">
              Service currently being monitored
            </caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Service</th>
                <th class="nhsuk-table__header" scope="col">Host</th>
                {% if current_user.UserRole == 'Admin' %}
                <th class="nhsuk-table__header" scope="col">Status</th>
                {% endif %}
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              {% for service in allRegisteredServices %}
              {% if service.ServiceMonitorToggle %}
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  <a href="/service/{{ service.Id }}">{{ service.ServiceName }}</a>
                </td>
                <td class="nhsuk-table__cell">{{ service.Domain }}</td>
                {% if current_user.UserRole == 'Admin' %}
                <td class="nhsuk-table__cell">
                  {% if service.ServiceMonitorToggle %}
                  <form action='/services/{{ service.Id }}' method="POST">
                    <button class="nhsuk-button" type="submit" name="service-toggle" value='False'
                      style="line-height: 0.5; margin-bottom: 0;">
                      Stop
                    </button>
                  </form>
                  {% endif %}
                </td>
                {% endif %}
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="nhsuk-grid-column-full">
        <div class="nhsuk-table-responsive">
          <h2>Services offline</h2>
          <table class="nhsuk-table" cellspacing="0" cellpadding="1">
            <caption class="nhsuk-table__caption">
              Service currently stopped
            </caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Service</th>
                <th class="nhsuk-table__header" scope="col">Host</th>
                {% if current_user.UserRole == 'Admin' %}
                <th class="nhsuk-table__header" scope="col">Status</th>
                <th class="nhsuk-table__header" scope="col">Remove</th>
                {% endif %}
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              {% for service in allRegisteredServices %}
              {% if not service.ServiceMonitorToggle %}
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  <a href="/service/{{ service.Id }}">{{ service.ServiceName }}</a>
                </td>
                <td class="nhsuk-table__cell">{{ service.Domain }}</td>
                {% if current_user.UserRole == 'Admin' %}
                <td class="nhsuk-table__cell">
                  {% if not service.ServiceMonitorToggle %}
                  <form action='/services/{{ service.Id }}' method="POST">
                    <button class="nhsuk-button" type="submit" name="service-toggle" value='True'
                      style="line-height: 0.5; margin-bottom: 0;">
                      Start
                    </button>
                  </form>
                  {% endif %}
                </td>
                <td class="nhsuk-table__cell">
                  {% if not service.ServiceMonitorToggle %}
                  <a href="/service/delete/{{ service.Id }}" class="nhsuk-button"
                    style="line-height: 0.5; margin-bottom: 0;">Remove</a>
                  {% endif %}
                </td>
                {% endif %}
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}