{% extends "base.html" %}

{% block main %}

    <style>
        .pagination {
            display: inline-block;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }

        .nhsuk-table__header {
            width: 500px;
        }
    </style>

    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent">
            <h2 style="position: relative; left: -2%">Service Monitoring - {{ ServiceName }}</h2>
            <a id="service-update-btn" class="nhsuk-input" href="/service/update/{{ ServiceId }}" style="float: right; text-align: center; position: relative; left: -2%">Update Service</a>
            {% if ServiceLogs %}
                <br>
                <br>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-four-thirds">
                        <div class="nhsuk-table-responsive">
                            <table class="nhsuk-table" cellspacing="0" cellpadding="1">
                                <thead class="nhsuk-table__head">
                                <tr class="nhsuk-table__row">
                                    <th class="nhsuk-table__header" scope="col" id="service-status-title">Service Status</th>
                                    <th class="nhsuk-table__header" scope="col" id="service-host-title">Host</th>
                                    <th class="nhsuk-table__header" scope="col" id="service-error-title">Error</th>
                                    <th class="nhsuk-table__header" scope="col" id="service-time-title">Time (UTC)</th>
                                </tr>
                                </thead>
                                <tbody class="nhsuk-table__body">
                                {% for service in ServiceLogs %}
                                    <tr class="nhsuk-table__row">
                                        {% if service.ServiceOnlineStatus %}
                                            <td class="nhsuk-table__cell">
                                                <img src="{{ url_for('static', filename='green-dot.jpg') }}"
                                                     align="middle"
                                                     style="width: 12%; height: 12%;"/>
                                            </td>
                                        {% else %}
                                            <td class="nhsuk-table__cell">
                                                <img src="{{ url_for('static', filename='red-dot.png') }}"
                                                     align="middle"
                                                     style="width: 10%; height: 10%;"/>
                                            </td>
                                        {% endif %}
                                        <td class="nhsuk-table__cell">{{ service.Domain }}</td>
                                        <td class="nhsuk-table__cell">{{ service.ConnectionError }}</td>
                                        <td class="nhsuk-table__cell">{{ service.Timestamp }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <ul class="pagination" style="position:relative; left:-5%;">
                    {% if datePicker %}
                        {% if page == 0 %}
                            <div class="pagination">
                                <a href='?datePicker={{ datePicker }}&page={{ page - 1 }}'>Previous Page</a>
                                <a href='?datePicker={{ datePicker }}&page={{ page }}' classactive">{{ page }}</a>
                                <a href='?datePicker={{ datePicker }}&page={{ page + 1 }}'>{{ page + 1 }}</a>
                                <a href='?datePicker={{ datePicker }}&page={{ page + 2 }}'>{{ page + 2 }}</a>
                                <a href='?datePicker={{ datePicker }}&page={{ page + 1 }}'>Next Page</a>
                            </div>
                        {% else %}
                            <div class="pagination">
                                <a href='?datePicker={{ datePicker }}&page={{ page }}' classactive">{{ page }}</a>
                                <a href='?datePicker={{ datePicker }}&page={{ page + 1 }}'>{{ page + 1 }}</a>
                                <a href='?datePicker={{ datePicker }}&page={{ page + 2 }}'>{{ page + 2 }}</a>
                                <a href='?datePicker={{ datePicker }}&page={{ page + 3 }}'>{{ page + 3 }}</a>
                                <a href='?datePicker={{ datePicker }}&page={{ page + 1 }}'>Next Page</a>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if page == 0 %}
                            <div class="pagination">
                                <a href='?page={{ page - 1 }}'>Previous Page</a>
                                <a href='?page={{ page }}' classactive">{{ page }}</a>
                                <a href='?page={{ page + 1 }}'>{{ page + 1 }}</a>
                                <a href='?page={{ page + 2 }}'>{{ page + 2 }}</a>
                                <a href='?page={{ page + 1 }}'>Next Page</a>
                            </div>
                        {% else %}
                            <div class="pagination">
                                <a href='?page={{ page }}' classactive">{{ page }}</a>
                                <a href='?page={{ page + 1 }}'>{{ page + 1 }}</a>
                                <a href='?page={{ page + 2 }}'>{{ page + 2 }}</a>
                                <a href='?page={{ page + 3 }}'>{{ page + 3 }}</a>
                                <a href='?page={{ page + 1 }}'>Next Page</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </ul>
            {% else %}
                <br><br>
                <h4 style="text-align: center;">There are current no logs for this service.</h4>
            {% endif %}
        </main>
    </div>

    <script>
        var date = new Date().toJSON().slice(0, 10);
        var time = new Date().toJSON().slice(11, 19)
        var dateTime = date + 'T' + time;
        document.querySelector(".nhsuk-input").value = dateTime;
    </script>

{% endblock %}